<div class="app__container app__container-navbar">
  <ul class="app__container-navbar__links">
    <li>
      <a
        class="app__container-navbar__links-link"
        href="https://www.linkedin.com/in/lorenzocasa/"
        target="_blank"
        >LinkedIn</a
      >
    </li>
    <li>•</li>
    <li>
      <a
        class="app__container-navbar__links-link"
        href="https://github.com/LxLorenzo"
        target="_blank"
        >GitHub</a
      >
    </li>
    <li>•</li>
    <li>
      <a
        class="app__container-navbar__links-link"
        href="https://www.lorenzocasa.live/"
        target="_blank"
        >Portfolio</a
      >
    </li>
  </ul>
</div>
