.app__container-big-card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  max-width: 550px;
}

.app__container-big-card__image img {
  width: 100%;
}

.app__container-big-card__content {
  display: flex;
  flex-direction: column;
  gap: .825rem;
  margin-top: .625rem;
}

.app__container-big-card__content-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.app__container-big-card__content-description {
  font-size: .825rem;
  color: grey;
}

@media screen and (max-width: 768px) {
  .app__container-big-card__image img {
    max-width: 100%;
  }
}