.app__container-big-card {
  width: 420px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
}

.app__container-big-card__image img {
  width: 100%;
}

.app__container-big-card__content {
  display: flex;
  flex-direction: column;
  gap: .825rem;
  margin-top: .625rem;
}

.app__container-big-card__content-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.app__container-big-card__content-description {
  font-size: .825rem;
  color: grey;
}