.app__container-title {
  color: white;
  margin: 15px 0;
  font-size: 9rem;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .app__container-title {
    font-size: 6rem;
  }
}

@media screen and (max-width: 480px) {
  .app__container-title {
    font-size: 4rem;
  }  
}