.app__container-small-card {
  display: flex;
  padding: 1.5rem 0;
  gap: 1.5rem;
  border-bottom: 1px solid grey;
}

.app__container-small-card__image img {
  width: 100%;
  max-width: 220px;
}

.app__container-small-card__content {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.app__container-small-card__content h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

.app__container-small-card__content h2 a {
  text-decoration: none;
  color: inherit;
}

.app__container-small-card__content h2 a:hover {
  text-decoration: underline;
}

.app__container-small-card__content p {
  color: grey;
  font-size: .75rem;
  font-weight: 500;
}

