<header>
  <app-navbar></app-navbar>
</header>

<app-title [title]="title"></app-title>

<div class="app__container app__container-articles">
  <div class="app__container-articles__main">
    <app-big-card
      photoCover="https://picsum.photos/seed/picsum/600/400"
      cardTitle="Big Card Title"
      cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, minus nobis? Numquam asperiores eos nobis earum. Magnam, ducimus rerum quas unde est nulla vitae dignissimos at nisi quia eos iusto."
    ></app-big-card>
  </div>
  <div class="app__container-article__others">
    <app-small-card
      cardDate="July 01, 2023"
      cardTitle="Small Card Title"
      photoCover="https://picsum.photos/seed/picsum/600/300"
    ></app-small-card>
    <app-small-card
      cardDate="August 27, 2023"
      cardTitle="Small Card Title"
      photoCover="https://picsum.photos/seed/picsum/600/300"
    ></app-small-card>
    <app-small-card
      cardDate="September 13, 2023"
      cardTitle="Small Card Title"
      photoCover="https://picsum.photos/seed/picsum/600/300"
    ></app-small-card>
  </div>
</div>
